* {
  box-sizing: border-box;
}

html.open,
body.open {
  height: 100%;
  overflow: hidden;
}

html {
  padding: 40px;
  font-size: 62.5%;
}

body {
  padding: 20px;
  background-color: #5bb9b8;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

h1 {
  text-align: center;
}

table {
  display: block;
}

tr,
td,
tbody,
tfoot {
  display: block;
}

thead {
  display: none;
}

tr {
  padding-bottom: 10px;
}

td {
  padding: 10px 10px 0;
  text-align: center;
}

table {
  width: 100%;
}

th {
  font-weight: 700;
}

thead th {
  background-color: #202932;
  color: #fff;
  border: 1px solid #202932;
}

.button {
  line-height: 1;
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  background-color: #4b908f;
}
th {
  text-align: center;
}

@media (min-width: 460px) {
  /* td:before {
    display: inline-block;
    text-align: right;
    width: 140px;
  } */

  .select {
    padding-left: 160px;
  }
}

table {
  display: table;
}

tr {
  display: table-row;
}

td,
th {
  display: table-cell;
}

tbody {
  display: table-row-group;
}

thead {
  display: table-header-group;
}

tfoot {
  display: table-footer-group;
}

td {
  border: 1px solid #28333f;
}
td:before {
  display: none;
}

td,
th {
  padding: 10px;
}

tr:nth-of-type(odd) {
  background: #bebbbb;
}

tr:nth-of-type(even) {
  background: #eeeeee;
}
img {
  width: 70px;
  cursor: pointer;
}
tfoot th {
  display: table-cell;
}

.select {
  padding: 10px;
}
.container-fluid {
  min-width: 580px;
}
button {
  float: right;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}
h1 {
  color: #fff;
}
